@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Poppins, sans-serif;
}

body {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  overflow-x: hidden;
}

h6 {
  font-size: 16px;
  font-weight: 600;
  color: #ff64ae;
  font-family: Poppins, sans-serif;
}
h1 {
  font-size: 36px;
  font-weight: 600;
  color: #091156;
  font-family: Poppins, sans-serif;
}

button {
  width: 200px;
  height: 58.36px;
  border-radius: 50px;
  background-color: #ff64ae;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  outline: none;
  font-family: Poppins, sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2f3acf;
  border-radius: 4px;
  height: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
